@font-face {
    font-family: 'Lexend Deca Regular', sans-serif;
    src: url(../fonts/LexendDeca-Regular.ttf);
}
@font-face {
    font-family: 'Space Mono Bold', monospace;
    src: url(../fonts/SpaceMono-Bold.ttf);
}