.hero-bg{
    background-image: url(../../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet{
        background-image:url(../../images/bg-hero-tablet.jpg);
    }
    @include phone{
        background-image:url(../../images/bg-hero-phone.jpg);
    }
}
.hero-bg-color{
    opacity: 0.75;
    background: #2F3B59;
}


.hero{
    padding: 153px 0;
    text-align: center;
    @include tablet{
        padding: 137px 0 217px;
        
    }
    @include phone{
        padding: 115px 0 180px;
    }
    &__title{
        color: $white-color;
        font-size: 56px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -2.5px;
        max-width: 500px;
        text-align: left;
        margin: 0;
        @include tablet{
            margin: 0 auto;
            max-width: 558px;
            text-align: center;
        }
        @include phone{
            max-width: 300px;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: -1.786px;
        }
    }
    &__main{
        display: flex;
        column-gap: 57px;
        position: relative;
        &__empty{
            width: 38px;
            @include tablet{
                display: none;
            }
        }
        &__text{
            color: $white-color;
            font-family: $text-font;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            max-width: 387px;
            margin: 40px 0;
            @include tablet{
                margin:24px 0 32px;
                max-width: 527px;
                text-align: center;
            }
            @include phone{
                max-width: 274px;
                margin: 24px 0 34px;
            }
        }
        &__content{
            position: relative;
            text-align: left;
            @include tablet{
                margin: 0 auto;
                text-align: center;
            }
        }
        &__line{
            position: absolute;
            top: 80px;
            left: -167px;
            @include tablet{
                display: none;
                position: none;
            }
        }
        &__arrow{
            position: absolute;
            bottom: 2px;
            left:405px; 
            @include tablet{
                bottom: -176px;
                left: -240px;
            }
            @include phone{
                left: -355px
            }
        }
    }
    
}
