.sign-up{
    background-color:$title-color;
    &-bg{
        background-image:url(../images/icons/circles.svg);
        background-repeat:no-repeat;
        background-position: 237px 157px;
        padding:102px 0;
        @include tablet{
            padding: 62px 0;
            background-position: -122px 140px;
        }
        @include phone{
            padding: 88px 0;
            background-position: -530px 134px;
        }
    }
    &__main{
        display: flex;
        justify-content: space-between;
        align-items:center;
        @include tablet{
            flex-direction: column;
            justify-content: center;
            row-gap: 40px;
        }
        @include phone{
            max-width: 311px;
            margin: 0 auto;
            width: 100%;
        }
        &__title{
            color: $white-color;
            font-size: 48px;
            font-weight: 700;
            line-height: 48px; 
            letter-spacing: -2.143px;
            max-width: 410px;
            @include tablet{
                text-align: center;
            }
            @include phone{
                width: 100%;
                font-size: 32px;
                line-height: 32px; 
                letter-spacing: -1.429px;
            }
        }
        &__app{
            display: flex;
            justify-content: space-between;
            align-items:center;
            column-gap: 18px;
            @include tablet{
                column-gap:12px;
            }
            &__app-store{
                display: flex;
                justify-content: space-between;
                align-items:center;
                padding: 8px 15px 9px 16px;
                column-gap: 12px;
                border-radius: 4px;
                background-color: $circle-border-color;
                border:none;

                &__texts{
                    &__comment{
                        color: $title-color;
                        font-size: 10px;
                        font-weight: 700;
                        letter-spacing: -0.446px;
                    }
                    &__name{
                        color: $title-color;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px; 
                        letter-spacing: -0.893px;
                    }
                }
            }
        }
    }
}
.circles{
    position: absolute;
    top: 53px;
    left: 246px;
    @include tablet{
        top: 81px;
        left: -143px;
    }
}