$button-color:#FCB72B;
$title-color:#495567;
$text-color:#939CAA;
$circle-border-color:#E5ECF4;
$white-cream-color:#F2F5F9;
$bg-menu-phone:#333A44;
$white-color:#fff;
$cream-color:#F2F5F9;
$title-font:'Space Mono Bold', monospace;
$text-font:'Lexend Deca Regular', sans-serif;